.cont:hover .contToolTip {
	display: block;
}

.contToolTip {
	display: none;
	background: #ffffff;
	margin-left: 2px;
	padding: 10px;
	position: absolute;
	z-index: 1000;
	width: 150px;
	height: 50px;
}

.helpText {
	color: #666666;
	font-size: 11px;
	text-align: left;
}